/* mobile */
@media only screen and (min-width : 320px) {
    .post-author {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }


    .post-author .author-avatar img {
        border-radius: 50%;
        width: 20%;
    }
}


/* tablet */
@media only screen and (min-width : 768px) {
    .post-author {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }


    .post-author .author-avatar img {
        border-radius: 50%;
        width: 20%;
    }
}


/* desktop */
@media only screen and (min-width : 1224px) {
    .post-author {
        width: 20%;
        display: flex;
        flex-direction: column;
        margin-top: 33px;
    }


    .post-author .author-avatar img {
        border-radius: 50%;
        width: 50%;
    }
}

/*all other*/
.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.post-author .author-name {
    font-weight: bold;
    letter-spacing: 2px;
    color: #222e56;
}


.post-author .author-title {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 2px;
    border-bottom: 2px solid #222e56;
}


.post-author h2 {
    margin-bottom: 10px;
}

.post-author .author-company span {
    font-weight: bold;
}
